<!DOCTYPE html>

<html>
  <head>
    <title>Plat de Maman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if  %>
          <%= link_to("Plat de Maman", "/posts/index") %>
        <% else %>
          <%= link_to("Plat de Maman", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if user_signed_in? %>
        
          <li>
            <%= link_to("#{User.find_by(id: current_user.id).family_name}#{User.find_by(id: current_user.id).first_name}", "/users/#{current_user.id}") %>
          </li>
          <li>
            <%= link_to("ブログ一覧", "/posts") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          
          <li>
            <%= link_to("ログアウト", "/users/sign_out", {method: :delete}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("初めての方へ", "/about") %>
          </li>
          <li>
            <%= link_to("新規登録", "/users/sign_up") %>
          </li>
          <li>
            <%= link_to("ログイン", "/users/sign_in") %>
          </li>
          
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
 